autopep8==1.4.4
dronekit==2.9.2
future==0.17.1
geographiclib==1.49
geopy==1.20.0
iso8601==0.1.12
lxml==4.3.4
monotonic==1.5
numpy==1.16.4
pycodestyle==2.5.0
pymavlink==2.3.7
pyserial==3.4
PyYAML==5.1.1
serial==0.0.97
